body {
    background-color: #dfff80;
    padding: 0px;
    /* padding-top: 0em; */
    /* margin-top: 0px; */
    /* border-width: 1px; */
    /* border-color: blue; */
    margin: 0px;
}

h1 {
    color: rgb(255, 0, 174);
    font-family: Lucidasans-serif;
}


h2 {
    color: rgb(255, 0, 174);
    font-family:
    serif;
    padding: 0.5em;
}

h1, h2, img {
    background-color: rgb(128, 202, 232);
    padding: 0.5em;
    border-color: #8248e8;
    border-style: solid;
    background-color: rgb(128, 202, 232);
    border-radius: 0.5em;
    /* margin-top: 0px; */
    margin: 25px;
}

h1 {
    border-radius: 1em;
    /* border-top-right-radius: 0px; */
    /* border-top-left-radius: 0px; */
    /* border-top-style: none; */
}

img {
    height: 50%;
    width: 50%;
}

.fa-facebook {
    border-radius: em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .social {
  }